The United States Social Security Administration (SSA) Has made available data on the frequency of baby names from 1880 to 2020. 


There are many things that ill be doing with this dataset including; Visualizing the proportion of babies a particular name that is Vincent.Determine the relative rank of a name.Determine the mst popular names in each year or the names whose popularity has has advanced or declimed the most. Analyze the trends in names: vowels,consonants, lenght,overal diversity, changes in spelling, first and last letters. Analyze external sourcesof trends, biblical names, celebrities and demographics

**LOADING THE NECESSARY LIBRARIES**

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style='darkgrid')
plt.rcParams["figure.figsize"] = (15,7)

**loading the data set into a dataframe**

In [18]:
baby_names = pd.read_csv("/kaggle/input/us-top-1000-baby-names-18802020/babynames1880-2020.csv")

In [20]:
baby_names.head(5)

   Year     Name Gender  Births  Rank
0  2020     Liam      M   19659     1
1  2020     Noah      M   18252     2
2  2020   Oliver      M   14147     3
3  2020   Elijah      M   13034     4
4  2020  William      M   12541     5